.showmore{
  color: rgb(155, 142, 142);
  font-weight: bolder;
  cursor: pointer;
  transition: border 0.2s ease;
}
.showmore:hover{
  border-bottom: 0.2em solid rgb(155, 142, 142);
  padding-bottom: 0.2em;
}
.wanttoread{
  height: 100%;
  width: 100%;
  font-size: initial;
  background-color: rgb(81, 161, 81);
  font-weight: 600;
  color: white;
}
.wanttoread:hover{
  background-color: rgb(104, 189, 104);
}
.bookpage--sticky{
  position: fixed;
  width: 30%;
  padding: 0 5% 0 5%;
  display: grid;
  grid-template-rows:400px 40px 90px ;
  align-items: center;
  justify-items: center;
}
.starblink--container{
  display: grid;
  justify-items: center;
}
.starblink--star{
  width: 100%;
  margin-right: 7px;
  cursor: pointer;
}
.starblink--button{
  width: 15%;
  padding: 0;
}
.starblink--star--container{
  display:flex;
  margin-bottom: 10px;
  justify-content:center;
}
.starblink--tick--container{
  display:flex;
  justify-content:center;
  align-items: center;
}
.starblink--tick--container img{
  width: 5%;
  margin-left: 8px;
}
.bookpage--content{
  margin-left: 30%;
  width:60%;
}  
.bookpage--initialRate{
  margin-bottom: 10px;
  display: flex;
  height: 50px;
  width:fit-content;
  font-size: 130%;
  white-space:pre;
  align-items: center;
  padding: 0 5px 0 5px;
  border-radius: 10px; 
  transition: background-color 0.3s ease;
}
.bookpage--initialRate:hover{
  cursor: pointer;
  background-color: aliceblue;
}
.ratingratio{
  margin-right: 15px;
  height:100%;
  display: flex;
  align-items: center;
  font-size:inherit;
}
.ratingratio img{
  height: 80%; 
  margin-right: 8px;
}
.bookdesc--container{
  margin: 10px 0;
}
.rnr--container{
  display:grid;
  justify-items: center;
  margin-left: 10%;
  width: 80%;
}
.rnr--links{
  display: grid;
  width: 60%;
  min-width: 350px;
  place-items:center center;
  grid-template-columns: 50% 50%;
}
.rnr--links--review{
  text-decoration: none;
  display: flex;
  align-items: center ;
  justify-content: center;
  background-color: black;
  color: white;
  width: 70%;
  height: 70%;
  border-radius: 20px;
  font-size: 105%;
}
.review--container{
  display: grid;
  grid-template-columns: 25% 75%;
}
.review--starrate{
  display: flex;
  height: 28px;
  font-size: large;
  align-items: center;
  margin-bottom: 8px;
}
.review--spoiler{
  display:flex;
  align-items: center;
}
.review--spoiler--button{
  transform: rotate(90deg);
  font-size: larger;
  font-weight: 700;
  margin-left: 10px;
  height: fit-content;
  border-radius: 10px;
  border: 2px solid red;
}
.review--spoiler--button:hover{
  background-color: rgb(214, 203, 203);
}
.review--point,.review--point--more{
  margin: 0 10px 5px 0;
  border-bottom: 0.2em solid rgba(60, 205, 96, 0.864);
  padding-bottom: 0.2em;
  display: inline-block;
}
.review--point--more:hover{
  cursor: pointer;
  border-bottom: 0.2em solid rgba(3, 60, 6, 0.864);
}
.review--likeNcomment{
  display: flex;
  white-space:pre;
}
.review--likeNcomment button{
  display: flex;
  align-items: center ;
  font-size:medium;
  margin-right: 20px;
}
.review--likeNcomment button:hover {
  border: 1px solid black;
}
.review--likeNcomment button:active{
  background-color: rgb(229, 207, 200);
}
.comment--container{
  display: grid;
  grid-template-columns: 15% 90%;
  position: relative;
  margin-top: 20px;
  justify-content: space-around;
}
.comment--link:hover{
  border-radius: 20px;
  background-color: rgb(224, 215, 215);
  cursor: pointer;
}
.comment--date{
  position: absolute;
  right: 0;
}
.comment--input--container{
  display: grid;
  justify-items: right;
}
.comment--input{
  padding: 10px 10px;  
  resize: vertical;
  min-height: 100px;
  width: 100%;
}
.comment--post{
  background-color: black;
  color: white;
  padding: 5px 10px;
  margin-top: 10px;
}
.navigators{
  position:fixed;
  display: grid;
  grid-gap: 20px;
  place-items: center center;
  right: 30px;
  bottom: 70px;
}
.navigators--links{
  width: fit-content;
  height: 100%;
  padding:10px 20px;
  color: white;
  font-size: medium;
}
.navigator--top{
  background-color: rgb(179, 54, 54);  
}
.navigators--links:hover{
  box-shadow: 0px 0px 10px 3px rgb(104, 91, 91);
}
