.searchpage--container{
    display: grid;
    grid-template-columns: 65% 30%;
    grid-gap: 5%;
}
.searchpage--results{
    justify-self: right;
    width: 70%;
}
.searchbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60%;
    background-color: rgb(222, 242, 246);
    border-radius: 10px;
    border: 2px solid black;
}
  .searchbar--input{
    border: none;
    width: 100%;
    background-color: transparent;
  }
  .searchbar--input:focus{
    outline: none;
  }
  .sort--tag{
    background-color: rgb(12, 58, 126);
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
  }
  .sort--container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .sort--button{
    display: flex;
    align-items: center;
    padding: 02px 10px;
    margin: 0 0 0 10px;
    height: min-content;
    border: 2px solid black;
    background-color: rgb(232, 234, 236);
    border-radius: 10px;
  }
  .sort--arrow{
    font-size: 18px;
  }
  .sort--arrow:hover{
    font-size: 25px;
  }
  .filter--container{
    height: 100%;
    position: relative;
  }
  .filter--button{
    height: 100%;
    border-radius: 10px;
    background-color: rgb(185, 183, 183);
  }
  .filter--section{
    position: absolute;
    margin-top: 15px;
    top: 100%;
    right: -15px;
    background-color: rgb(216, 241, 226);
    border-radius: 20px;
    padding: 30px 20px 20px 20px;
    border: 2px solid black;
  }
  .filter--section::before{
    content: " ";
    position: absolute;
    height: 10px;
    width: 10px;
    transform:rotate(45deg);
    top: -8px;
    right: 20px;
    background-color: rgb(216, 241, 226);
    border: 2px solid black;
    border-width: 2px 0px 0px 2px;
  }
  .filter--close{
    position: absolute;
    right: 15px;
    top: 7px;
    font-size: larger;
  }
  .filter--close:hover{
    background-color: rgb(185, 182, 180);
  }
  .filter--section fieldset{
    border-radius: 10px;
    margin-bottom: 30px;
  }
  .filter--section--rating div{
    margin:0 0px 10px 0;
    display: flex;
    align-items:center;
  }
  .filter--section--publication{
    display: flex;
    flex-wrap: wrap;
  }
  .filter--section--publication div{
    white-space: pre;
    margin-top: 15px;
  }
  .filter--section--publication input{
    background-color: rgb(221, 225, 225);
    border-radius: 8px;
  }
  .filter--button--container{
    display: flex;
    justify-content: flex-end;
  }
  .filter--submitbutton{
    margin-left: 20px;
    background-color: rgb(245, 90, 90);
  }

.minisearchtile{
  display: grid;
  grid-template-columns: 80px 1fr;
}
.minisearchtile--1sthalf{
  display: flex;
  justify-content: center;
  height: 80px;
}
.mediumsearchtile--container{
  display: grid;
  grid-template-columns: 1fr 130px;
}
.mediumsearchtile--rhs{
  display: grid;
  grid-template-rows: 30px 50%;
  grid-gap: 10px;
}
.searchtile{
    display: grid;
    width: 100%;
    margin-top: 20px;
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
}
.searchtile--img{
    max-width: 100%;
    max-height: 100%;
}
.searchtile--imgcontainer{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}
.searchtile--firsthalf{
    display: grid;
    grid-template-rows: 50% 15% 25%;
    place-items: center center;
    align-content: center;
    font-size: 12px;
}
.searchtile--content{
    height: fit-content;
}
.searchtile--rate{
    display: flex;
    align-items:center ;
    height: 20px;
    margin-top: 6px;
}
.searchtile--head:hover{
    text-decoration: underline;
}
.searchtile--want{
    height: 25px;
    width: 100%;
    font-size: small;
    border-radius: 10px;
}
.searchtile--review{
    margin: 10px 0 30px 10px;
    padding: 5px 10px;
    width: fit-content;
    background-color: rgb(161, 63, 63);
}
.paginate--container{
    display: grid;
    white-space: nowrap;
    place-items: center center;
}
.paginate--pageno{
    margin-right: 1%;
    border-radius: 0;
    font-weight: 600;
    background-color: rgb(200, 227, 218);
}
.paginate--more{
    font-size: medium;
    font-weight: 600;
    padding: 3px;
    margin:0 15px ;
}
.paginate--more:enabled:hover{
    background-color: rgb(219, 215, 211); 
}
.paginate--more:enabled{
    color: rgb(34, 18, 179);
}
