.searchpage--container{
    display: grid;
    grid-template-columns: 65% 30%;
    grid-gap: 5%;
}
.searchpage--results{
    justify-self: right;
    width: 70%;
}
.searchtile{
    display: grid;
    width: 100%;
    margin-top: 20px;
    grid-template-columns: 50px 1fr;
    grid-gap: 10px;
}
.searchtile--img{
    height: 80px;
    max-width: 50px;
}
.searchtile--content{
    height: fit-content;
}
.searchtile--rate{
    display: flex;
    align-items:center ;
    height: 20px;
    margin-top: 6px;
}
.searchtile--head:hover{
    text-decoration: underline;
}
.searchtile--want{
    height: 25px;
    width: 130px;
    font-size: small;
    margin-top: 8px;
    border-radius: 10px;
}
.paginate--container{
    display: grid;
    white-space: nowrap;
    place-items: center center;
}
.paginate--pageno{
    margin-right: 1%;
    border-radius: 0;
    font-weight: 600;
    background-color: rgb(200, 227, 218);
}
.paginate--more{
    font-size: medium;
    font-weight: 600;
    padding: 0;
    margin-right:1% ;
    color: rgb(60, 0, 117);
    transition: border 0.2s ease;
    border-bottom: 0.2em solid transparent;
    border-radius: 0%;
}
.paginate--more:hover{
    border-bottom: 0.2em solid rgb(106, 108, 237);
    padding-bottom: 0.2em;
}

/* reviewpage css code */
.reviewpage--container{
    display: grid;
    max-width: 750px;
    width: 100%;
    margin-left: 30%;
    transform: translateX(-30%);
}
.reviewpage--container h1{
    color: rgb(11, 90, 18);
}
.reviewpage--rating{
   height: 80px;
   width: 350px;
   margin-left: 50%;
   transform: translateX(-50%);
}
.review--area{
    width:100%;
    resize: vertical;
    height: 170px;
    padding: 10px 10px;
}
.reviewform--container button{
    margin: 20px 0 ;
    height: 40px;
    font-size: medium;
    padding: 0 25px;
    background-color: blueviolet;
    color: aliceblue;
    font-weight: 600;
    margin-left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s ease;
}
.reviewform--container button:hover{
    background-color: rgb(89, 14, 158);
}
.suchempty--container{
    display: grid;
    place-items: center center;
    margin-bottom: 30px;
}
